* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2C2C2C;
    color: #777;
}

.container {
    min-width: 20rem;
    max-width: 64rem;
    width: 100%;
    margin: auto;
}

.page-wrapper {
    padding: 10px;
}

.table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #555;
    border-radius: 20px;
    background: #2F2F2F;
}


.table:not(:last-child) {
    margin-bottom: 40px;
}

.table__row {
    height: 50px;
}

.table__heading {
    text-align: left;
    color: #fff;
}

.table__cell:not(:last-child) {
    color: #fff;
}

.table__cell,
.table__heading {
    width: 50%;
    border-bottom: 1px solid #555;
    padding: 0 20px;
}

.table__cell {
    position: relative;
}

.table__row:last-child .table__cell:not(:nth-child(n+3)) {
    border-bottom: 0;
}

.table__link {
    display: inline-flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.table__link:hover {
    color: #199ffe;
    transition: 0.3s;
}

.table-heading__title {
    position: relative;
    display: inline-block;
}

.table-heading__title::before {
    content: "";
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}


.table-button {
    background: none;
    position: absolute;
    width: 22px;
    height: 5px;
    border: 0;
    cursor: pointer;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.table-button__dots {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #fff;
    display: inline-block;
    border: 0;
    margin-left: auto;
    cursor: pointer;
}

.table__button:focus {
    outline: none;
}

.table-button__dots::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    background: #fff;
}

.table-button__dots::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 0;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    background: #fff;
}


.table-simple .table-button__dots {
    background: #757575;
}

.table-simple .table-button__dots::after,
.table-simple .table-button__dots::before {
    background: #757575;
}

.table-heading__item,
.table-cell__item {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}


.table-heading__checkbox,
.table-cell__checkbox {
    margin-right: 10px;
    cursor: pointer;
}

.table-cell__img {
    margin-right: 10px;
}


.table-heading__title_arrow::before {
    content: none;
}

.table-heading__item_row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}


.table-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    padding: 0 10px 0 15px;
    border-radius: 5px;
    background: #444;
}

.table-form__search {
    background: #444444;
    color: #7F7F7F;
    border: 0;
    height: 35px;
    min-width: 44px;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
}

.table-form__search:focus {
    outline: #333;
}

.table-form__img {
    max-width: 20px;
}

.table-form__search::placeholder {
    font-size: 16px;
    text-indent: 10px;
}

@media screen and (max-width: 480px) {
    .table__cell, .table__heading {
        width: auto;
    }
}

