* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2C2C2C;
    color: #777;
}

.container {
    min-width: 20rem;
    max-width: 64rem;
    width: 100%;
    margin: auto;
}

.page-wrapper {
    padding: 10px;
}

.table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #555;
    border-radius: 20px;
}


.table:not(:last-child) {
    margin-bottom: 40px;
}

.table__row {
    height: 50px;
}

.table__heading {
    text-align: left;
    color: #fff;
}

.table__cell:not(:last-child) {
    color: #fff;
}

.table__cell,
.table__heading {
    width: 50%;
    border-bottom: 1px solid #555;
    padding: 15px 20px;
}

.table__row:last-child .table__cell:not(:nth-child(n+3)) {
    border-bottom: 0;
}

.table__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transform: translateX(0px);
    transition: 0.3s;
}

.table__link:hover {
    color: #199ffe;
    transform: translateX(10px);
    transition: 0.3s;
}

.table__heading:first-child {
    position: relative;
}

.table__heading:first-child::after {
    content: "";
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}


.table__dots {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #fff;
    display: inline-block;
}


.table__dots:not() {
    background: #199ffe;
}

